{
  "telegram": {
    "botToken": ""
  },
  "bot": {
    "password": "",
    "owner": 0,
    "maxResults": 15
  },
  "couchpotato": {
    "hostname": "",
    "apiKey": "",
    "port": 5050,
    "urlBase": "",
    "ssl": false,
    "username": "",
    "password": ""
  }
}
